name: ci
on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches:
      - 'main'

env:
  APP_REGISTRY: c8n.io
  APP_REPO: myspotontheweb
  APP_NAME: gitops-demo-app1
  GITOPS_REPO: myspotontheweb/gitops-workloads

jobs:

  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{env.APP_REGISTRY}}/${{env.APP_REPO}}/${{env.APP_NAME}}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern=v{{version}}
            type=sha

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: c8n.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}


  deploy-dev:
    if: contains(github.ref, 'heads')
    runs-on: ubuntu-latest
    needs:
      - build
    steps:

      - uses: actions/checkout@v2
        with:
          repository: ${{env.GITOPS_REPO}}
          token: ${{secrets.REPO_TOKEN}}

      - uses: imranismail/setup-kustomize@v1
        with:
          kustomize-version: 4.0.0

      - run: kustomize edit set image ${{env.APP_REGISTRY}}/${{env.APP_REPO}}/${{env.APP_NAME}}:sha-$(git rev-parse --short $GITHUB_SHA)
        working-directory: apps/${{env.APP_NAME}}/overlays/dev

      - run: |
          git config user.email "gitops@myspotontheweb.com"
          git config user.name "gitops"
          git commit -am "Gitops update"
          git push


  deploy-release:
    if: contains(github.ref, 'tags')
    runs-on: ubuntu-latest
    needs:
      - build
    steps:

      - uses: actions/checkout@v2
        with:
          repository: ${{env.GITOPS_REPO}}
          token: ${{secrets.REPO_TOKEN}}

      - uses: imranismail/setup-kustomize@v1
        with:
          kustomize-version: 4.0.0

      - run: kustomize edit set image ${{env.APP_REGISTRY}}/${{env.APP_REPO}}/${{env.APP_NAME}}:${GITHUB_REF#refs/*/}
        working-directory: apps/${{env.APP_NAME}}/overlays/test

      - run: |
          git config user.email "gitops@myspotontheweb.com"
          git config user.name "gitops"
          git commit -am "Gitops update"
          git push

